./Frontend/a.out
./Frontend/example.txt

./Frontend/initializer.h.gch
./Frontend/language_proccessing.h.gch
./Frontend/Please.txt
./Frontend/Please.txt.png
Proccessor
PIZDEC
Frontend_v2.0
Front
diff
a.out
